
.imglogin{
    margin-left: 8.5em;
}


.respnota{
    margin-left: -2em;
}.col-md-1{
    margin-bottom: 0.5em;
    margin-top: -1.4em;
    margin-left: 66.6em;
}
.text{
    color: white;
}
.buttonfunc{
    width: 14em;
    height: 3.5em;
    margin-left: 78%;
}
.btnrel{
    width: 10.5em;
    margin-top: 1em;
    margin-left: 1em;
}
.imgdash{
    height: 50px;
}
.textcard{
    padding-right: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}
.estactitle{
    margin-bottom: 2em;
    
}
.estacdados{
    margin-bottom: 1em;
}
cardsbaixo{
    margin-bottom: 2em;
}
.carddash{
    margin-bottom: 2em;
}
.selectcard{
    padding: 1em;
    border-radius: 1em;
}
.mobile-menu{
    cursor: pointer;
    display: none;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: rgb(51, 49, 65);
    margin: 8px;
}

.teste{
   
    min-height: 720px;
    max-height: 720px;
    min-width: 1000px; 
    max-width: 1200px !important;
} 

.btnvaga{
    margin: 0.5em;
    width: 6.5em;
}

.bs-gray-700{
    color: #000;
    background-color: #495057;
    border-color: #495057;
}

.cardpadding{
    padding: 1em;
}
.imgperfil{
    height: 17em;
    width: 17em;
}
.selectrel{
    padding: 0.3em;
    background:none;
    border-color:dimgray;
    border-radius: 1em;
}
.cardperfil{
    padding: 2em;
}
@media (max-width:900px) {
    .buttonfunc{
        margin-left: 70%;
    }
}
.meuModal{
    position: absolute !important;
    z-index : 10000 !important;
}
input[type="date"]{
    padding: 0.3em;
    background:none;
    border-color:dimgray;
    border-radius: 1em;
}

.imgrel{
    height:5em;
    width: 6em; 
}
#file{
    
    display: block !important;

    
}


