.col-md-1{
    margin-bottom: 0.5em;
    margin-top: -1.4em;
    margin-left: 66.6em;
}
.text{
    color: white;
}
.buttonfunc{
    width: 11em;
    height: 4.5em;
    margin-left: 85%;
}
@media (max-width:900px) {
    .buttonfunc{
        margin-left: 70%;
    }
}
.imgdash{
    height: 50px;
}
.textcard{
    padding-right: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}
cardsbaixo{
    margin-bottom: 2em;
}