
.respnota{
    margin-left: -2em;
}.col-md-1{
    margin-bottom: 0.5em;
    margin-top: -1.4em;
    margin-left: 66.6em;
}
.text{
    color: white;
}
.buttonfunc{
    width: 14em;
    height: 3.5em;
    margin-left: 78%;
}
.btnrel{
    width: 10.5em;
    margin-top: 1em;
    margin-left: 1em;
}
.imgdash{
    height: 50px;
}
.textcard{
    padding-right: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}
.estactitle{
    margin-bottom: 2em;
    
}
.estacdados{
    margin-bottom: 1em;
}
cardsbaixo{
    margin-bottom: 2em;
}
.carddash{
    margin-bottom: 2em;
}
.selectcard{
    padding: 1em;
    border-radius: 1em;
}
.mobile-menu{
    cursor: pointer;
    display: none;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: rgb(51, 49, 65);
    margin: 8px;
}
.btnvaga{
    margin: 0.5em;
}

.bs-gray-700{
    color: #000;
    background-color: #495057;
    border-color: #495057;
}


.cardpadding{
    padding: 1em;
}
.imgperfil{
    height: 17em;
    width: 17em;
}
.selectrel{
    width: 7em;
    height: 2.8em;
}
.cardperfil{
    padding: 2em;
}
@media (max-width:900px) {
    .buttonfunc{
        margin-left: 70%;
    }
}
.meuModal{
    position: absolute !important;
    z-index : 10000 !important;
}


#file{
    
    display: block !important;

    
}


