.grid-container {
  /* position: relative; */
    /* background-color: red; */
    display: grid;
    /* min-width: 1000px; 
    max-width: 1200px ; */
    grid-template-columns: 92px 92px 92px 92px 92px 92px 92px 92px 92px 92px 90px 90px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    /* min-height: 720px;
    min-width: 1000px; 
    max-width: 1200px !important; */
  }

 

  .btnvaga{
    /* margin: 0.5em; */
    width: 6.5em;
    margin: 0.5em;
    /* width: 10%; */
}

  /* .grid-item{
    position: relative;
  } */
  /* button{
position: absolute;
  } */

  /* .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  } */

