.grid-container {
    display: grid;
    grid-template-columns: 92px 92px 92px 92px 92px 92px 92px 92px 92px 92px 90px 90px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px;

  }
.btnvaga{
    width: 6.5em;
    margin: 0.5em;
}

@media(max-width: 1400px){
  .imglogin{
      margin-left: 35%;
  }
}
@media(min-width: 500px) and (max-width: 992px){
  .imglogin{
      margin-left: 39%;
  }
}
@media(min-width: 360px) and (max-width: 500px){
  .imglogin{
      margin-left: 35%;
  }
}
@media(min-width: 210px) and (max-width: 359px){
  .imglogin{
      margin-left: 29%;
  }
}





